<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<form method="post" action="{{ url_for('upload') }}">
        <ul>
          <li><a href="{{ url_for('movetoupload') }}">Upload</a></li>
          <li><a href="{{ url_for('movetoindex') }}">Graphy</a></li>
        </ul>
        <h3>Select a file to upload</h3> v
             <p>
              <input type="file" name="inputFile" autocomplete="off" required onchange="loadFile(event)">
             </p>
               <p>
             <input type="submit" value="Submit">
            </p>
           </form>
           <label id="output" width="500"/>
            
           <style>
           .alert-primary {
               color: #004085;
               background-color: #cce5ff;
               border-color: #b8daff;
           }
           .alert {
               position: relative;
               padding: .75rem 1.25rem;
               margin-bottom: 1rem;
               border: 1px solid transparent;
               border-radius: .25rem;
           }
           </style>
           {% endblock %}